{% extends "theme.html" %}


{# block:name要相同 #}
{% block content %}

<div class="container">
	{% for product in products.all %}
	<div class="row">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="{{ product.app_icon.url }}" alt="Card img cap">
		</div>
		<div class="col-md-8" style="padding-left=30px">
			<h3>
				<a href="products/{{ product.id }}">{{ product.app_title }}</a>
			</h3>
			<br>
			{{ product.app_intro }}
		</div>
	</div>

	{% endfor %}	
</div>

{% endblock content %}

