{% extends "theme.html" %}

{# block:name要相同 #}
{% block content %}

<h2 align="center">发布新应用</h2>
<br>
<form method='POST' action='{% url '发布页面' %}' align='center' enctype="multipart/form-data">
	{% csrf_token %}
	APP标题：
		<br>
		<input type="textbox" name="标题">
		<br>
		<br>
	APP介绍：
		<br>
		<textarea cols="100" rows="10" name="介绍"></textarea>
		<br>
		<br>
	APP链接：
		<br>
		<input value="http://" type="text" name="链接">
		<br>
		<br>
	APP图标：
		<br>
		<input type="file" name="图标">
		<br>
		<br>
	大图：
		<br>
		<input type="file" name="大图">
		<br>
		{{ 错误 }}
		<br>
	<input class="btn btn-primary" type="submit" value="发布">
</form>


{% endblock content %}

